.sign-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 14px;
}
.submit {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.submit:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.signinput {
  background-image: linear-gradient(
    to right,
    #f4c4f3 0%,
    #fc67fa 51%,
    #f4c4f3 100%
  );
  margin: 10px;
  padding: 10px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.signinput:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  outline: 1px solid #9733ee;
  padding: 12px 45px;
}
.loginlink {
  font-size: 24px;
}
